annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
appdirs==1.4.4
argcomplete==3.5.1
borb==2.1.25
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.3.1
cryptography==44.0.3
curlify==2.2.1
dunamai==1.24.1
fastapi==0.133.1
fonttools==4.58.0
gitdb==4.0.12
GitPython==3.1.44
graphviz==0.21
h11==0.16.0
httptools==0.7.1
idna==3.10
importlib_metadata==8.7.1
Jinja2==3.1.6
lxml==5.4.0
MarkupSafe==3.0.2
packaging==25.0
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==11.2.1
poetry-dynamic-versioning==1.8.2
pycparser==2.22
pydantic==2.12.5
pydantic_core==2.41.5
pyee==11.1.1
pypdfium2==5.5.0
pyppeteer==2.0.0
python-barcode==0.15.1
python-dateutil==2.6.1
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
qrcode==8.2
requests==2.32.3
setuptools==80.8.0
six==1.17.0
smmap==5.0.2
starlette==0.52.1
tk==0.1.0
toml==0.10.2
tomlkit==0.13.2
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==1.26.20
uvicorn==0.41.0
uvloop==0.22.1
vastai==0.3.1
watchfiles==1.1.1
websockets==10.4
xdg==6.0.0
zipp==3.23.0
